body {
    overflow-x: hidden;
}

h1{
  background-color: $color-back;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  font-size: 2rem;
  color: #747474;
}

//index



/* PRODUCTOS */

.textoProductos {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  /* ENVIO IFRAME SUCURSALES*/
  
  .sucursales {
    text-decoration: none;
  }
  
  iframe {
    display: block;
    margin: auto;
  }
  
  /* LOGO DE WHATSAPP */
  
  .logoWhats {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
  }
  
  /* FOOTER */
  
  .footerms {
    background-color: $color-back;
  }
  