//MAIN

.quienesSomos {
  padding: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.textoInicio {
  padding: 2%;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.clientes {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
