
//POLITICA

.logoEquis{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}

.equisPolitica{
    width: 120px;
    margin-top: 10px;
}

.logoEquis2{
    text-align: center;
    margin-top: 0px;
}
.signoExclamacion {
    width: 400px;
    margin-top: 0px;
}