
//POLITICA



.logoEquis{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
    
}

.signoExclamacion {
    width: 350px;
    margin-top: 0px;
}

.bg-politica{

    background-color: $color-back;
    box-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.3); /* Definición de la sombra */
}
